<div class="bg-primary rounded-sm px-16 px-md-80 py-20 py-md-40">
  <fa-icon class="float-end display-28 text-white cursor--pointer" [icon]="faXmark"></fa-icon>
  <div class="text-center w-100">
    <h1 class="display-40 text-white">Contact Us</h1>
    <img src="../../../assets/images/decor_white.svg" alt="" class="col-4">
  </div>
  <form action="https://formspree.io/f/xgeqggze" method="POST">
    <div class="d-flex flex-column gap-16 br-b-white pb-20">
    <input type="text" name="name" class="w-100 py-14 px-18 bg-white rounded border-0" required>
    <input type="email" name="email" class="w-100 py-14 px-18 bg-white rounded border-0" required>
    <textarea rows="6" class="w-100 py-14 px-18 bg-white rounded" name="message"></textarea>
    </div>
    <input type="submit" class="btn-outline-white py-14 w-100 mt-20" value="Submit">
  </form>
  <form
    action="https://formspree.io/f/xgeqggze"
    method="POST"
  >
    <label>
      Your email:
      <input type="email" name="email">
    </label>
    <label>
      Your message:
      <textarea name="message"></textarea>
    </label>
    <!-- your other form fields go here -->
    <button type="submit">Send</button>
  </form>
  <p class="text-center text-white my-16">We will get back to you soon</p>
  <div class="w-100 d-flex gap-24">
    <button class="d-flex gap-16 align-items-center py-14 btn-outline-white">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      Test@gmail.coms
    </button>
    <button class="d-flex gap-16 align-items-center py-14 btn-outline-white">
      <fa-icon [icon]="faPhone"></fa-icon>
      17716111
    </button>
  </div>
</div>

<!--<ng-template #content let-modal>-->
<!--  <div class="modal position-absolute top-0 mx-auto bg-primary rounded-sm px-16 px-md-80 py-20 py-md-40">-->
<!--    <fa-icon class="float-end display-28 text-white cursor&#45;&#45;pointer" [icon]="faXmark" (click)="modal.close('Close click')"></fa-icon>-->
<!--    <div class="text-center w-100">-->
<!--      <h1 class="display-40 text-white">Contact Us</h1>-->
<!--      <img src="../../../assets/images/decor_white.svg" alt="" class="col-4">-->
<!--    </div>-->
<!--    <div class="d-flex flex-column gap-16 br-b-white pb-20">-->
<!--      <input type="text" placeholder="Name" class="w-100 py-14 px-18 bg-white rounded border-0">-->
<!--      <input type="text" placeholder="Email" class="w-100 py-14 px-18 bg-white rounded border-0">-->
<!--      <textarea rows="6" class="w-100 py-14 px-18 bg-white rounded" placeholder="Message"></textarea>-->
<!--    </div>-->
<!--    <button class="btn-outline-white py-14 w-100 mt-20">Submit</button>-->
<!--    <p class="text-center text-white my-16">We will get back to you soon</p>-->
<!--  </div>-->
<!--</ng-template>-->
