<div class="position-relative footer bg-dark w-100">
  <div class="w-100 px-10 pt-10 px-md-20 pt-md-20">
    <img src="./assets/images/corner_decor.svg" alt="" class="position-absolute left-decor corner-decor">
  </div>
  <div class="col-10 col-md-10 pt-20 px-20 mx-auto text-white-80">
    <div class="w-100 d-flex flex-column flex-lg-row justify-content-start align-items-start">
      <div class="col-12 col-lg-4">
        <h1 class="header__title text-white-80 align-self-start">Yue Lo Ki</h1>
      </div>
      <div class="col-12 col-lg-4 pb-20 mt-10 mt-lg-0">
        <h3 class="text-white-80 my-16 display-20 fw-bold">Contact Details:</h3>
        <p class="text-white mb-8 display-16 fw-lighter">Email: yuelokigangtey@gmail.com</p>
        <p class="text-white mb-8 display-16 fw-lighter">Phone number: <a href="tel://+97517716523" class="text-white">+975 17851193</a>/<a href="tel://+97517716523" class="text-white">+975 17974116</a></p>
        <div class="d-flex gap-20 align-self-start my-20">
          <img src="./assets/images/instagram.svg" alt="" width="34" class="footer__links text-white-80 cursor--pointer">
          <img src="./assets/images/facebook.svg" alt="" width="34" class="footer__links text-white-80 cursor--pointer">
        </div>
      </div>
      <div class="quick-links col-12 col-lg-3 pb-20">
        <h3 class="text-white-80 my-16 display-20 fw-bold">Quick links:</h3>
        <li class="mb-10">
          <a href="" class="text-white mb-8 display-16 fw-lighter" routerLink="/home">Home</a>
        </li>
        <li class="mb-10">
          <a href="" class="text-white mb-8 display-16 fw-lighter" routerLink="/rooms">Rooms</a>
        </li>
        <li class="mb-10">
          <a href="" class="text-white mb-8 display-16 fw-lighter" routerLink="/experiences">Experiences</a>
        </li>
      </div>
      <div class="col-2 align-self-start mt-30">
        <img src="./assets/images/logo_white.svg" alt="logo" class="cursor--pointer" width="50%" routerLink="/home">
      </div>
    </div>
  </div>
  <div class="w-100 px-10 pb-10 px-md-20 pb-md-20">
    <img src="./assets/images/corner_decor.svg" alt="" class="position-absolute low-right-decor corner-decor">
  </div>
</div>
