<div class="position-relative footer bg-dark w-100 position-relative">
  <div class="w-100 d-flex justify-content-between">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="corner-decor left-decor position-absolute">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="right-decor corner-decor position-absolute">
  </div>
  <div class="col-12 col-md-10 px-20 py-50 mx-auto text-white-80">
    <div class="w-100 d-flex flex-column flex-lg-row justify-content-center gap-30 gap-lg-60 align-items-start text-white-80">
      <div class="col-12 col-lg-3">
        <h3 class="text-white-80 mb-16 display-20 fw-bold">Yueloki</h3>
        <p>Thank you for choosing Yueloki Hotel. We hope you had a wonderful stay and look forward to seeing you again soon!</p>
        <div class="d-flex gap-20 align-self-start mt-16">
          <a href="https://www.instagram.com/hotel_yueloki/" target="_blank">
            <img src="./assets/images/instagram.svg" width="30" class="footer__links text-white-80 cursor--pointer">
          </a>
          <a href="https://www.facebook.com/profile.php?id=100075689035366" target="_blank">
            <img src="./assets/images/facebook.svg" width="30" class="footer__links text-white-80 cursor--pointer">
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-4 pb-20 mt-20 mt-lg-0">
        <h3 class="text-white-80 mb-16 display-20 fw-bold">Contact Details:</h3>
        <div class="d-flex flex-column gap-8 display-16 fw-lighter">
          <p>Email: yuelokigangtey@gmail.com</p>
          <p>Phone number: <a href="tel://+97517333115" class="text-white">+975 17333115</a> / <a href="tel://+97517874116" class="text-white-80">+975 17874116</a></p>
          <p>Location: Wangduephodrang(Bhutan)</p>
        </div>
      </div>
      <div class="quick-links col-12 col-lg-2">
        <h3 class="text-white-80 mb-16 display-20 fw-bold">Quick links:</h3>
        <div class="d-flex flex-lg-column gap-8 display-16 fw-lighter">
          <li>
            <a routerLink="/home">Home</a>
          </li>
          <li>
            <a routerLink="/rooms">Rooms</a>
          </li>
          <li>
            <a routerLink="/facilities">Facilities</a>
          </li>
        </div>
      </div>
      <div class="col-4 col-md-2 align-self-start mt-30 mt-lg-0">
        <img src="./assets/images/logo_white.svg" alt="logo" class="cursor--pointer" width="50%" routerLink="/home">
      </div>
    </div>
  </div>
  <div class="w-100 d-flex justify-content-between p-10 p-md-20">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="low-left-decor corner-decor position-absolute">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="low-right-decor corner-decor position-absolute">
  </div>
</div>
