.hero__section {
  background: url("https://asmpa.selise.cloud/1671194926_51606a5e85cacc1981cf918d8cf1f7_header__background.jpeg") rgba(0, 0, 0, 0.6) no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
