<div class="hero__section w-100 box-shadow--primary position-relative">
  <div class="w-100 d-flex justify-content-between">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="corner-decor left-decor position-absolute">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="right-decor corner-decor position-absolute">
  </div>
  <div class="col-12 mx-auto py-40 py-md-74 text-center">
    <h1 class="title text-white">FACILITY</h1>
    <img src="../../../assets/images/decor_white.svg" alt="" class="col-6 col-md-5 col-lg-3 col-xxl-2">
  </div>
  <div class="w-100 d-flex justify-content-between p-10 p-md-20">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="low-left-decor corner-decor position-absolute">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="low-right-decor corner-decor position-absolute">
  </div>
</div>
<div class="w-100 my-20 my-md-50">
  <div class="col-12 col-lg-8 px-20 px-md-48 mx-auto">
    <div class="text-start">
      <h2>CHECK-IN / CHECK OUT</h2>
      <p class="my-12">The check-in time is from 2:00 pm onwards and upon arrival, luggage racks are available at the
        reception. Guests must provide their credit card details or make cash payment/bank
        transfer/EFTPOS payment at the reception desk.</p>
      <p>The checkout time is at 10:00 am and we request all guests to settle all accounts in full unless
        proper credit arrangements have been made. Unfortunately, we do not accept cheques. Please
        ask the receptionist if you require any additional help during check-in and check-out.</p>
    </div>
    <div class="text-start mt-20 mt-md-40">
      <h2>CAR PARK</h2>
      <p class="my-12">There is ample complimentary parking space and if you require any directions to the hotel
        please contact the reception so we can provide directions and ushering services.</p>
    </div>
    <div class="text-start mt-20 mt-md-40">
      <h2>ROOM SERVICES</h2>
      <p class="my-12">Your rooms will be serviced daily and We respect your privacy, should you not wish to be
        disturbed, please place the DO NOT DISTURB sign on the outside of your door.</p>
      <ul class="col-12 col-md-8 col-lg-8">
        <li>WAKEUP CALLS Please contact reception staff if you require a wake-up call.</li>
        <li>INTERNAL HEATING Rooms will be heated upon your arrival. Some rooms have electronic
          panel heaters whilst others have traditional burners. Please contact reception if you require
          any assistance.</li>
        <li>HAIRDRYERS are located in the drawers for your convenience</li>
        <li>LAUNDRY FACILITIES are available from 9:00 am to 3:00pm</li>
        <li>BATHROBES are provided upon request</li>
      </ul>
    </div>
    <div class="text-start mt-20 mt-md-40">
      <h2>RESTAURANT</h2>
      <p class="my-12">The breakfast buffet opens from 6:00 am to 9:30 am. Dinner buffet services are from 6:00 pm
        to 9:30 pm, this includes room service.</p>
    </div>
    <div class="text-start mt-20 mt-md-40">
      <h2>RECEPTION HOURS</h2>
      <p class="my-12">For your convenience our front desk is open24/7. If you require any assistance, please feel free
        to speak with our friendly reception staff, who will be happy to assist you at any time.
        Reception can be contacted from your room by calling or messaging the Hotels Whatsapp I.D.</p>
      <p>Please note that foreign currency exchange, hire of bicycles, tour booking and administration
        services are available only from 7:00 am to 9:00 pm. Bus and Taxi services are available but
        please notify us at the earliest of your convenience.</p>
    </div>
    <div class="text-start mt-20 mt-md-40">
      <h2>INTERNET SERVICES</h2>
      <p class="my-12">All guests can avail internet with proper speed. Upon arrival, you will be issued a card with the
        WIFI password.</p>
    </div>
    <div class="text-start mt-20 mt-md-40">
      <h2>SAFE DEPOSIT BOXES</h2>
      <p class="my-12">We advise that you place all your valuables for safekeeping in Safe-Deposit boxes that are
        available at the Reception. Please ensure you keep your deposit slips to help us effectively
        manage and allocate your items during checkout.</p>
    </div>
    <h1 class="title">POLICY</h1>
    <img src="../../../assets/images/decor.svg" alt="" class="col-9 col-md-7 col-lg-3 col-xxl-2">
    <div class="text-start mt-20 mt-md-40">
      <h2>PRIVACY POLICY</h2>
      <p class="my-12">Hotel Yue Lo ki takes personal information security seriously and Personal information is held
        and stored on paper, by electronic means. We have safety procedures in place to
        ensure that personal information is protected from misuse, interference and loss, and
        unauthorised access, modification and disclosure.</p>
    </div>
    <div class="text-start mt-20 mt-md-40">
      <h2>VISITOR POLICY</h2>
      <p class="my-12">Visitors are welcome but must comply with the Hotel's policies and procedures. The hotel
        reserves the right to ask a visitor to leave on reasonable grounds.</p>
    </div>
    <div class="text-start mt-20 mt-md-40">
      <h2>DAMAGE TO THE PROPERTY</h2>
      <p class="my-12">The guest will be held responsible for any loss or damage to the hotel property caused by
        themselves, their guests or any person for whom they are responsible.</p>
    </div>
    <div class="text-start mt-20 mt-md-40">
      <h2>SMOKING IN THE ROOM</h2>
      <p class="my-12">It is prohibited to smoke in the rooms. There are designated smoking areas where you can
        smoke.</p>
    </div>
  </div>
</div>
