@import "../../../assets/stylesheets/variables";

.profile {
  width: 100px;
  height: 100px;
  @media (min-width: 576px) {
    width: 150px;
    height: 150px;
  }
}

.testimonial {
  height: 450px;
  @media (min-width: 992px) {
    height: 500px;
  }
  @media (min-width: 1400px) {
    height: 400px;
  }
}
