<div class="carousel bg-primary px-16 px-md-40">
  <div class="d-flex flex-column align-items-center pt-30">
    <h1 class="text-white title" data-aos="slide-up">Testomonials</h1>
    <img src="../../../assets/images/decor_white.svg" alt="" class="col-9 col-md-7 col-lg-3 col-xxl-2" data-aos="slide-up" data-aos-delay="200">
  </div>
  <ngb-carousel
    #carousel
    [interval]="3000"
    [pauseOnHover]="pauseOnHover"
    [pauseOnFocus]="pauseOnFocus"
    (slide)="onSlide($event)"
  >
    <ng-template ngbSlide>
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-30 w-100 bg-white px-16 px-md-30 py-20 py-md-74" data-aos="slide-up" data-aos-delay="300">
        <img src="../../../assets/images/avatar.jpg" alt="" class="rounded-circle br-primary-12" width="200px" height="200px">
        <p class="col-12 col-md-6 text-primary">The Best Of the best Room for your comfort The Best Of the best Room for your comfort The Best
          Of the best Room for your comfort The Best Of the best Room for your comfortThe Best Of the best
        </p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-30 w-100 bg-white px-16 px-md-30 py-20 py-md-74">
        <img src="../../../assets/images/avatar.jpg" alt="" class="rounded-circle br-primary-12" width="200px" height="200px">
        <p class="col-12 col-md-6 text-primary">The Best Of the best Room for your comfort The Best Of the best Room for your comfort The Best
          Of the best Room for your comfort The Best Of the best Room for your comfortThe Best Of the best
        </p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-30 w-100 bg-white px-16 px-md-30 py-20 py-md-74">
        <img src="../../../assets/images/avatar.jpg" alt="" class="rounded-circle br-primary-12" width="200px" height="200px">
        <p class="col-12 col-md-6 text-primary">The Best Of the best Room for your comfort The Best Of the best Room for your comfort The Best
          Of the best Room for your comfort The Best Of the best Room for your comfortThe Best Of the best
        </p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
