@import "../../../assets/stylesheets/variables";

:host ::ng-deep .carousel {
  z-index: 1 !important;
  &-control-next {
    width: auto !important;
    justify-content: end !important;
    margin-right: 0 !important;
  }
  &-control-prev {
    width: auto !important;
    justify-content: start !important;
    margin-left: 0 !important;
  }
  &-control-next, &-control-prev {
    display: none !important;
    @media (min-width: 576px) {
      display: block !important;
    }
  }
  &-inner {
    width: 100% !important;
    margin: 0 auto !important;
    background-color: $primary !important;
    z-index: 1 !important;
    @media (min-width: 576px) {
      width: 85% !important;
    }
    @media (min-width: 992px) {
      width: 70% !important;
    }
  }
}

:host ::ng-deep .carousel-indicators [data-bs-target] {
  background-color: $primary !important;
  padding: 2px 10px !important;
}

.profile {
  width: 100px;
  height: 100px;
  @media (min-width: 576px) {
    width: 150px;
    height: 150px;
  }
}

.testimonial {
  height: 450px;
  @media (min-width: 992px) {
    height: 500px;
  }
  @media (min-width: 1400px) {
    height: 400px;
  }
}
