<div class="bg-primary position-relative">
  <div class="w-100 d-flex justify-content-between p-10 p-md-20">
    <img src="./assets/images/corner_decor.svg" alt="" class="corner-decor position-absolute">
    <img src="./assets/images/corner_decor.svg" alt="" class="right-decor corner-decor position-absolute">
  </div>
  <div class="carousel bg-primary px-20 px-md-40 py-74">
    <ngb-carousel
      #carousel
      [interval]="3000"
      [pauseOnHover]="pauseOnHover"
      [pauseOnFocus]="pauseOnFocus"
      (slide)="onSlide($event)"
    >
      <ng-template ngbSlide>
        <div class="testimonial d-flex flex-column flex-md-row text-center text-md-start align-items-center justify-content-center gap-30 w-100 bg-white px-20 px-lg-30 py-40 py-md-40 py-lg-84"
        data-aos="slide-up" data-aos-delay="100" data-aos-once="true">
          <img src="../../../assets/images/avatar.jpg" alt="" class="rounded-circle profile col-12 col-md-4">
          <p class="col-12 col-md-7 display-16 fw-lighter">
            I am flabbergasted with place and the people who are humble and kind enough to tell us about the place. The stay at Yue Lo Ki was very home
            and soothing just like a bowl of soup in a freezing morning. I would recommend this place if me and my families were to come again.
          </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="testimonial d-flex flex-column flex-md-row text-center text-md-start align-items-center justify-content-center gap-30 w-100 bg-white px-20 px-lg-30 py-40 py-md-40 py-lg-84"
        data-aos="slide-up" data-aos-delay="200" data-aos-once="true">
          <img src="../../../assets/images/avatar.jpg" alt="" class="rounded-circle profile col-12 col-md-4">
          <p class="col-12 col-md-7 display-16 fw-lighter">
            The place is great and the food and services are more than what I have expected. It is cozy and I would have stood there for
            more days, if only I had time. Keep it up.
          </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="testimonial d-flex flex-column flex-md-row text-center text-md-start align-items-center justify-content-center gap-30 w-100 bg-white px-20 px-lg-30 py-40 py-md-40 py-lg-84"
        data-aos="slide-up" data-aos-delay="300" data-aos-once="true">
          <img src="../../../assets/images/avatar.jpg" alt="" class="rounded-circle profile col-12 col-md-4">
          <p class="col-12 col-md-7 display-16 fw-lighter">
            Your service is great and the hotel itself is awesome. I felt as if I belonged here and the way you all welcomed us with such humbleness was
            really made our stay awesome. Would love to be back here again.
          </p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="w-100 d-flex justify-content-between p-10 p-md-20">
    <img src="./assets/images/corner_decor.svg" alt="" class="low-left-decor corner-decor position-absolute">
    <img src="./assets/images/corner_decor.svg" alt="" class="low-right-decor corner-decor position-absolute">
  </div>
</div>
