<div class="w-100 py-20 py-lg-40">
  <div class="col-12 col-lg-10 mx-auto d-flex flex-column gap-84 px-20 px-md-40 text-center text-lg-start">
    <div class="w-100 d-flex flex-column flex-lg-row justify-content-between align-items-center">
      <div class="col-12 col-md-9 col-lg-6 mb-10">
        <h1 class="display-40 fw-semibold my-16">About Us</h1>
        <p class="display-18 fw-lighter">
          Hotel Yue Lo Ki was established in 2010 as a small guest house with six rooms and five staff. The
          initial idea was just a small farmhouse next to the old carpet factory to increase their sales of textile
          goods. Gradually the small guesthouse scaled into a small Hotel with the restructuring of the old
          carpet factory to a new building with ten rooms.
        </p>
      </div>
      <img src="../../../assets/images/yueloki.JPG" alt="" class="col-12 col-md-9 col-lg-5 rounded">
    </div>
    <div class="w-100 d-flex flex-column-reverse flex-lg-row justify-content-between align-items-center">
      <img src="../../../assets/images/about__background.jpg" alt="" class="col-12 col-md-9 col-lg-6 rounded">
      <div class="col-12 col-md-9 col-lg-5 mb-10">
        <p class="display-18 fw-lighter">
          Hotel Yue Lo Ki has 16 rooms with 11 twin beds and four king-size beds. All the rooms have rich and
          elegant wooden panels that provide excellent acoustics insulation, great for the cold Phobjikha
          valley. The walls of windows offer a great view of the valley, with plenty of biodiversity surrounding
          the hotel. All the rooms have electronic heaters, central water heating systems, and modern shower
          cabinets to accommodate an excellent shower session after trekking the beautiful trails in the valley.
        </p>
      </div>
    </div>
    <div class="d-flex flex-column flex-lg-row flex-lg-wrap justify-content-between align-items-center gap-20">
      <div class="text-center col-12 mx-auto border px-26 py-20 rounded-sm border box-shadow--primary bg-white" data-aos="slide-up" data-aos-delay="100" data-aos-once="true">
        <fa-icon class="display-50 text-primary" [icon]="faBullseye"></fa-icon>
        <h2 class="my-10">Mission</h2>
        <div class="br-b-primary my-16 col-12 col-lg-10 mx-auto"></div>
        <p class="col-12 col-lg-10 mx-auto fst-italic">
          " At Yue Lo Ki, We are committed to serving each guest that walks from the door as an esteemed
          Bhutanese guest (GOEM) rather than just a customer. We will constantly innovate our guest standards
          to ensure that services are personalized and accessible. Our friendly team of hospitality heroes is
          dedicated to providing clean and well-equipped rooms around the clock. "
        </p>
      </div>
      <div class="text-center col-12 mx-auto border px-26 py-20 rounded-sm border box-shadow--primary bg-white" data-aos="slide-up" data-aos-delay="150" data-aos-once="true">
        <fa-icon class="display-50 text-primary" [icon]="faEye"></fa-icon>
        <h2 class="my-10">Vision</h2>
        <div class="br-b-white my-16 col-12 col-lg-10 mx-auto"></div>
        <p class="col-12 col-lg-10 mx-auto fst-italic">
          " Integrate authentic Bhutanese hospitality and Guest service to create the most amazing personalised
          experience. "
        </p>
      </div>
      <div class="text-center col-12 mx-auto border px-26 py-20 rounded-sm border box-shadow--primary bg-white" data-aos="slide-up" data-aos-delay="200" data-aos-once="true">
        <fa-icon class="display-50 text-primary" [icon]="faGem"></fa-icon>
        <h2 class="my-10">Values</h2>
        <div class="br-b-white my-16 col-12 col-lg-10 mx-auto"></div>
        <p class="col-12 col-lg-10 mx-auto fst-italic">
          " Yue Lo Ki is committed to leading a workforce that reflects the value of the wider community and a
          culture that supports sustainable products and consistent services. We facilitate and strongly believe in
          a safe working environment for everyone. "
        </p>
      </div>
    </div>
  </div>
</div>
