<div class="w-100 about position-relative">
  <div class="w-100 d-flex justify-content-between p-10 p-md-20">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="corner-decor position-absolute">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="right-decor corner-decor position-absolute">
  </div>
  <div class="col-12 col-lg-10 mx-auto text-white d-flex flex-column flex-lg-row justify-content-between align-items-center gap-30 px-16 px-md-48 py-30 py-md-84">
    <div class="col-12 col-lg-6">
      <h1 class="title text-white mb-10">About Us</h1>
      <div class="br-b-white mb-20"></div>
      <div class="py-4 py-md-20 display-20">
        <p>Hotel Yue Lo Ki was established in 2010 as a small guest house with six rooms and five staff. The
          initial idea was just a small farmhouse next to the old carpet factory to increase their sales of textile
          goods. Gradually the small guesthouse scaled into a small Hotel with the restructuring of the old
          carpet factory to a new building with ten rooms.
        </p>
      </div>
    </div>
    <div class="col-10 col-lg-5 d-none d-lg-block">
      <img src="https://asmpa.selise.cloud/1671518679_e3abd4fd74d874fc251275ec977efe_bg_group.png" alt="" width="100%">
    </div>
  </div>
  <div class="w-100 d-flex justify-content-between p-10 p-md-20">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="low-left-decor corner-decor position-absolute">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="low-right-decor corner-decor position-absolute">
  </div>
</div>
<div class="w-100 py-20 py-lg-84">
  <div class="col-12 col-lg-10 mx-auto px-20 px-md-40">
    <div class="w-100 d-flex flex-column flex-lg-row justify-content-between align-items-start align-items-md-center text-start">
      <img src="https://asmpa.selise.cloud/1671194899_1df0f90f58b1266144c2ee03588399_dining.jpeg" alt="" class="col-12 col-md-9 col-lg-6 my-20 my-lg-0">
      <div class="col-12 col-md-9 col-lg-5 mb-10">
        <p class="display-18">
          Hotel Yue Lo Ki has 16 rooms with 11 twin beds and four king-size beds. All the rooms have rich and
          elegant wooden panels that provide excellent acoustics insulation, great for the cold Phobjikha
          valley. The walls of windows offer a great view of the valley, with plenty of biodiversity surrounding
          the hotel. All the rooms have electronic heaters, central water heating systems, and modern shower
          cabinets to accommodate an excellent shower session after trekking the beautiful trails in the valley.
        </p>
      </div>
    </div>
    <div class="d-flex flex-column flex-lg-row flex-lg-wrap justify-content-between align-items-center py-30 py-md-64 gap-60">
      <div class="col-12 mx-auto d-flex flex-column flex-lg-row gap-20 gap-lg-40 align-items-center">
        <fa-icon class="display-50 text-primary" [icon]="faBullseye"></fa-icon>
        <h1 class="display-24 fw-bold"><span class="text--black-60 display-18 me-30">
          OUR MISSION</span>"At Yue Lo Ki, We are committed to serving each guest that walks from the door as an esteemed
          Bhutanese guest (GOEM) rather than just a customer. We will constantly innovate our guest standards
          to ensure that services are personalized and accessible. Our friendly team of hospitality heroes is
          dedicated to providing clean and well-equipped rooms around the clock."
        </h1>
      </div>
      <div class="col-12 mx-auto d-flex flex-column flex-lg-row gap-20 gap-lg-40 align-items-center">
        <fa-icon class="display-50 text-primary" [icon]="faEye"></fa-icon>
        <h1 class="display-24 fw-bold"><span class="text--black-60 display-18 me-30">
        OUR VISION</span>"Integrate authentic Bhutanese hospitality and Guest service to create the most amazing personalised experience."
        </h1>
      </div>
      <div class="col-12 mx-auto d-flex flex-column flex-lg-row gap-20 gap-lg-40 align-items-center">
        <fa-icon class="display-50 text-primary" [icon]="faGem"></fa-icon>
        <h1 class="display-24 fw-bold"><span class="text--black-60 display-18 me-30">
        OUR VALUES</span>"Yue Lo Ki is committed to leading a workforce that reflects the value of the wider community and a
          culture that supports sustainable products and consistent services. We facilitate and strongly believe in
          a safe working environment for everyone."
        </h1>
      </div>
    </div>
  </div>
</div>
