<div class="w-100 py-20 py-lg-40">
  <div class="col-12 col-lg-8 mx-auto d-flex flex-column gap-84 px-16 px-md-40">
    <div class="w-100 d-flex flex-column flex-lg-row justify-content-between align-items-center">
      <div class="col-12 col-md-9 col-lg-6">
        <h1 class="display-40 fw-semibold my-16">About Us</h1>
        <p class=" display-18">The Best Of the best Room for your comfort The Best Of the best Room for
          your comfort The Best Of the best Room for your comfort The Best Of the best Room for your comfort
        </p>
        <p class="my-20 display-18">The Best Of the best Room for your comfort The Best Of the best Room for your comfort The Best </p>
      </div>
      <img src="../../../assets/images/yueloki.JPG" alt="" class="col-12 col-md-9 col-lg-5">
    </div>
    <div class="w-100 d-flex flex-column-reverse flex-lg-row justify-content-between align-items-center">
      <img src="../../../assets/images/about__background.jpg" alt="" class="col-12 col-md-9 col-lg-6">
      <div class="col-12 col-md-9 col-lg-5">
        <h1 class="display-40 fw-semibold my-16">Our History</h1>
        <p class=" display-18">The Best Of the best Room for your comfort The Best Of the best Room for
          your comfort The Best Of the best Room for your comfort The Best Of the best Room for your comfort
        </p>
        <p class="my-20 display-18">The Best Of the best Room for your comfort The Best Of the best Room for your comfort The Best </p>
      </div>
    </div>
    <div class="d-flex flex-column flex-lg-row flex-lg-wrap justify-content-between align-items-center gap-20">
      <div class="text-center text-primary col-12 col-sm-5 col-lg-3 br-primary px-26 py-40">
        <fa-icon class="display-50" [icon]="faBullseye"></fa-icon>
        <h2 class="my-10">Mission</h2>
        <p>The Best Of the best Room for your comfort The Best Of the best Room for your comfort The Bes</p>
      </div>
      <div class="text-center text-primary col-12 col-sm-5 col-lg-3 br-primary px-26 py-40">
        <fa-icon class="display-50" [icon]="faEye"></fa-icon>
        <h2 class="my-10">Vision</h2>
        <p>The Best Of the best Room for your comfort The Best Of the best Room for your comfort The Bes</p>
      </div>
      <div class="text-center text-primary col-12 col-sm-5 col-lg-3 br-primary px-26 py-40">
        <fa-icon class="display-50" [icon]="faGem"></fa-icon>
        <h2 class="my-10">Values</h2>
        <p>The Best Of the best Room for your comfort The Best Of the best Room for your comfort The Bes</p>
      </div>
    </div>
    <div class="d-flex flex-column gap-30">
      <h1 class="br-b-primary pb-16">Frequently Asked Questions</h1>
      <ngb-accordion>
        <ngb-panel title="About The Room">
          <ng-template ngbPanelContent class="">
            perfect place for a family visitor searching for a home perfect place for a
            family visitor searching for a home perfect place for a family visitor searching
            for a home perfect place for a family visitor searching for a home perfect place
            for a family visitor searching for a home perfect place for a family visitor searching for a home
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <ngb-accordion>
        <ngb-panel title="About The Room">
          <ng-template ngbPanelContent class="">
            perfect place for a family visitor searching for a home perfect place for a
            family visitor searching for a home perfect place for a family visitor searching
            for a home perfect place for a family visitor searching for a home perfect place
            for a family visitor searching for a home perfect place for a family visitor searching for a home
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <ngb-accordion>
        <ngb-panel title="About The Room">
          <ng-template ngbPanelContent class="">
            perfect place for a family visitor searching for a home perfect place for a
            family visitor searching for a home perfect place for a family visitor searching
            for a home perfect place for a family visitor searching for a home perfect place
            for a family visitor searching for a home perfect place for a family visitor searching for a home
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>
