.about {
  background: url("https://asmpa.selise.cloud/1671518265_4a17b163c708249fc8b8b9ad6d5667_about_us_bg.jpeg") rgba(0, 0, 0, 0.4) no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
