<div class="black-necked-crane py-30 py-md-84 ">
  <h1 class="text-white header__title text-center">Black Necked Crane Festival</h1>
</div>
<div class="w-100 p-20">
  <div class="mx-auto col-12 col-lg-8 my-20 my-md-50">
    <p>The black-necked crane festivals are celebrated every year on 11 November,
      coinciding with the birth anniversary of His Majesty the fourth King Jigme Singye
      Wangchuck. It is held in the courtyards of Gangtey Monastery and marks the return of
      the majestic birds. The community considers black-necked cranes as heavenly birds
      that are integral to the holy land. The magnificent birds circle the Gangtey monastery
      every year on their arrival and even on their departure. It has become a custom for the
      local students to perform crane dances in costumes yearly. Also, monks perform the
      famous Dramitse Ngacham (the Drums of Dramitse), one of UNESCO's tangible
      heritage dances from Bhutan.</p>
    <p class="my-20">It is an important community event where the local community comes together to
      renew and strengthen its commitment to conserving the majestic Black Necked Crane
      and the rich culture and tradition that prospers.</p>
  </div>
  <div class="d-flex flex-column flex-md-row gap-10 flex-wrap justify-content-center my-20 my-md-50">
    <img src="./assets/images/bnf1.jpg" alt="" class="col-12 col-md-5 col-lg-3 rounded-sm border-primary background__image">
    <img src="./assets/images/bnf2.jpg" alt="" class="col-12 col-md-5 col-lg-3 rounded-sm border-primary background__image">
    <img src="./assets/images/bnf3.jpg" alt="" class="col-12 col-md-5 col-lg-3 rounded-sm border-primary background__image">
    <img src="./assets/images/bnf4.jpg" alt="" class="col-12 col-md-5 col-lg-3 rounded-sm border-primary background__image">
    <img src="./assets/images/bnf5.jpg" alt="" class="col-12 col-md-5 col-lg-3 rounded-sm border-primary background__image">
    <img src="./assets/images/bnf6.jpg" alt="" class="col-12 col-md-5 col-lg-3 rounded-sm border-primary background__image">
  </div>
</div>
