@import "../../../assets/stylesheets/variables";

.black-necked-crane {
  background: url("https://asmpa.selise.cloud/1671194763_53099a85bf3812c6e063940efcf1e9_black_necked_crane_festival.jpeg");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba($black, 0.5);
}
