<div class="w-100 py-20 py-lg-40 home">
  <div class="col-12 col-lg-8 mx-auto">
    <div class="w-100 header text-center d-flex flex-column align-items-center">
      <h1 class="w-100 br-b-primary py-20 header__title" data-aos="zoom-in-up" data-aos-once="true">Welcome To <span class="fw-bolder">Yue Lo Ki</span></h1>
      <div class="w-100 d-flex justify-content-center">
        <h2 class="px-10 sub-header bg-white" data-aos="zoom-in-up" data-aos-delay="200">We are the wonder of your holiday</h2>
      </div>
    </div>
    <div class="w-100 d-flex justify-content-between my-40 px-16 px-md-48 image--container" data-aos="fade-up" data-aos-once="true">
      <img src="../../../assets/images/room__1.png" alt="" width="30%" class="align-self-center align-self-md-start">
      <img src="../../../assets/images/room__2.png" alt="" width="30%" class="align-self-center align-self-md-center">
      <img src="../../../assets/images/room__1.png" alt="" width="30%" class="align-self-center align-self-md-end">
    </div>
  </div>
<!--  <div class="w-100 my-20 my-md-40">-->
<!--    <div class="text-center w-100">-->
<!--      <h1 class="title fw-bold">Our Rooms</h1>-->
<!--      <img src="../../../assets/images/decor.svg" alt="" class="col-9 col-md-7 col-lg-3 col-xxl-2">-->
<!--    </div>-->
<!--    <app-rooms></app-rooms>-->
<!--  </div>-->
  <div class="w-100 my-20 my-md-40">
    <app-about-us></app-about-us>
  </div>
  <div class="w-100 my-20 my-md-40">
    <div class="text-center w-100">
      <h1 class="title fw-bold" data-aos="slide-up" data-aos-delay="600" data-aos-once="true">Our Services</h1>
      <img src="../../../assets/images/decor.svg" alt="" class="col-9 col-md-7 col-lg-3 col-xxl-2" data-aos="slide-up" data-aos-delay="700" data-aos-once="true">
    </div>
    <app-services></app-services>
  </div>
  <div class="w-100 my-20 my-md-40">
    <div class="d-flex flex-column align-items-center pt-30">
      <h1 class="title" data-aos="slide-up" data-aos-delay="600" data-aos-once="true">Testimonials</h1>
      <img src="../../../assets/images/decor.svg" alt="" class="col-9 col-md-7 col-lg-3 col-xxl-2" data-aos="slide-up" data-aos-delay="700" data-aos-once="true">
    </div>
    <app-testomonial-carousel></app-testomonial-carousel>
  </div>
  <div class="w-100 my-20 my-md-40">
    <div class="col-12 col-lg-10 my-20 my-md-40 mx-auto text-center">
      <h1 class="title" data-aos="slide-up" data-aos-delay="600" data-aos-once="true">Our Events</h1>
      <img src="../../../assets/images/decor.svg" alt="" class="col-9 col-md-7 col-lg-3 col-xxl-2" data-aos="slide-up" data-aos-delay="700" data-aos-once="true">
    </div>
    <app-events></app-events>
  </div>
</div>
