.hero__section {
  background: url("../../../assets/images/rooms.jpg") rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-blend-mode: multiply;
}

ngb-rating {
  font-size: 24px;
  color: #FB8603 !important;
}

.background {
  height: auto;
  @media screen and (min-width: 1100px) {
    height: calc(100vh - 200px);
  }
  @media screen and (min-width: 1200px) {
    height: calc(100vh - 180px);
  }
}

.sub__image-container {
  height: 140px;
  @media screen and (min-width: 576px) {
    height: 160px;
  }
  @media screen and (min-width: 830px) {
    height: 200px;
  }
  @media screen and (min-width: 1200px) {
    height: calc(100vh - 180px);
  }
  .sub-images {
    height: auto;
  }
}

.form__container {
  height: auto !important;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(66, 78, 63)
}
