<div class="hero__section w-100 py-20 py-sm-50 py-md-74 py-lg-100 mb-20 mb-md-48 box-shadow--primary position-relative">
  <div class="w-100 d-flex justify-content-between">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="corner-decor left-decor position-absolute">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="right-decor corner-decor position-absolute">
  </div>
  <h1 class="title text-white text-center">ROOMS</h1>
  <div class="w-100 d-flex justify-content-between p-10 p-md-20">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="low-left-decor corner-decor position-absolute">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="low-right-decor corner-decor position-absolute">
  </div>
</div>
<div class="w-100 my-20 my-md-50">
  <app-rooms></app-rooms>
</div>
