//@import "../../../assets/stylesheets/breakpoint.tsx";

ngb-rating {
  font-size: 24px;
  color: #FB8603 !important;
}

.background {
  height: auto;
  @media screen and (min-width: 768px) {
    height: calc(100vh - 250px);
  }
  @media screen and (min-width: 992px) {
    height: calc(100vh - 300px);
  }
  @media screen and (min-width: 1200px) {
    height: calc(100vh - 350px);
  }
  @media screen and (min-width: 1400px) {
    height: calc(100vh - 250px);
  }
  //@media screen and (min-width: 1600px) {
  //  height: calc(100vh - 200px);
  //}
}

.sub__image-container {
  height: 160px;
  overflow-x: scroll;
  @media screen and (min-width: 768px) {
    height: calc(100vh - 500px);
  }
  @media screen and (min-width: 992px) {
    height: calc(100vh - 500px);
  }
  @media screen and (min-width: 1200px) {
    height: calc(100vh - 346px);
  }
  @media screen and (min-width: 1400px) {
    height: calc(100vh - 246px);
  }
  //@media screen and (min-width: 1600px) {
  //  height: calc(100vh - 300px);
  //}
}

.sub-images {
  height: 150px;
  width: auto;
  @media screen and (min-width: 768px) {
    height: 200px;
  }
  @media screen and (min-width: 992px) {
    height: auto;
  }
}

.form__container {
  height: auto !important;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(66, 78, 63)
}
