<div class="w-100">
    <div class="col-12 col-lg-10 d-flex flex-column flex-xl-row mx-auto px-20 px-md-48 gap-14 justify-content-center py-10">
        <div class="col-12 col-xl-8">
            <img src="../../../assets/images/bed_room_1.JPG" class="background rounded-sm" alt="room" width="100%" data-aos="fade-in" data-aos-delay="100" data-aos-once="true">
        </div>
        <div class="col-12 col-xl-3 d-flex flex-row flex-xl-column justify-content-start gap-14 overflow-x-scroll sub__image-container rounded-sm">
            <img src="../../../assets/images/bed_room_2.JPG" class="sub-images rounded-sm" alt="room" width="100%" data-aos="fade-in" data-aos-delay="150" data-aos-once="true">
            <img src="../../../assets/images/bed_room_2.JPG" class="sub-images rounded-sm" alt="room" width="100%" data-aos="fade-in" data-aos-delay="200" data-aos-once="true">
            <img src="../../../assets/images/bed_room_2.JPG" class="sub-images rounded-sm" alt="room" width="100%" data-aos="fade-in" data-aos-delay="150" data-aos-once="true">
        </div>
    </div>
    <div class="col-12 px-20 px-md-40 mt-20 mb-20 mb-lg-50 d-flex justify-content-between">
      <div class="col-12 col-lg-9 mx-auto">
        <div class="w-100 py-20 d-flex flex-column flex-md-row justify-content-between br-b-primary">
          <div>
            <h2 class="my-10 fw-bold">King Size/Double Room</h2>
            <p>Designed with thoughtful attention to detail, the king room beds have an ergonomic comfort and
              includes plenty of room space.</p>
            <div class="d-flex flex-wrap gap-14 align-items-center py-16">
              <p class="px-16 py-6 bg--grey rounded-xl text-primary" *ngFor="let category of categoryDoubleRoom">{{category}}</p>
            </div>
          </div>
          <div>
            <p class="fw-bold text--underline text-primary">10 Reviews</p>
            <p class="rating">(4.5)<ngb-rating [rate]="4"></ngb-rating></p>
          </div>
        </div>
        <div class="col-12 d-flex flex-column flex-xxl-row justify-content-between">
          <div class="col-12 col-xxl-8">
            <h2 class="my-10 fw-bold">Room Amenities</h2>
            <div class="col-12 col-lg-9 d-flex flex-column flex-sm-row flex-wrap gap-30 text-primary">
              <div class="col-10 col-sm-5 border py-30 px-28 py-xl-20 px-xl-16 d-flex gap-28 align-items-center justify-content-start rounded-sm">
                <fa-icon [icon]="faWifi" class="display-30"></fa-icon>
                <p class="display-16">Free Wifi service</p>
              </div>
              <div class="col-10 col-sm-5 border py-30 px-28 py-xl-20 px-xl-16 d-flex gap-28 align-items-center justify-content-start rounded-sm">
                <fa-icon [icon]="faToiletPortable" class="display-30"></fa-icon>
                <p class="display-16">Complimentary Toiletries</p>
              </div>
              <div class="col-10 col-sm-5 border py-30 px-28 py-xl-20 px-xl-16 d-flex gap-28 align-items-center justify-content-start rounded-sm">
                <fa-icon [icon]="faBowlFood" class="display-30"></fa-icon>
                <p class="display-16">Healthy Food</p>
              </div>
              <div class="col-10 col-sm-5 border py-30 px-28 py-xl-20 px-xl-16 d-flex gap-28 align-items-center justify-content-start rounded-sm">
                <fa-icon [icon]="faTv" class="display-30"></fa-icon>
                <p class="display-16">Free Television</p>
              </div>
            </div>
            <div class="py-20 col-12 col-lg-8">
              <div class="py-10">
                <ngb-accordion>
                  <ngb-panel title="About The Room">
                    <ng-template ngbPanelContent>
                      <div class="p-20">
                        <div>
                          <h2>Food and Beverage Facilities:</h2>
                          <ul>
                            <li>Coffee/ tea making facilities</li>
                            <li>Kettle</li>
                            <li>In-room dining (fees apply)</li>
                            <li>Restaurant and Bar</li>
                          </ul>
                        </div>
                        <div>
                          <h2>Bathroom:</h2>
                          <ul>
                            <li>Hair Dryer</li>
                            <li>Shower Only</li>
                            <li>Bathroom Kit</li>
                            <li>Bath Robes available upon request</li>
                          </ul>
                        </div>
                        <div>
                          <h2>In-room facilities:</h2>
                          <ul>
                            <li>Work Desk with Lamp</li>
                            <li>Car Park</li>
                            <li>WI-Fi</li>
                            <li>Blackout curtain</li>
                            <li>Soundproof room</li>
                            <li>Wake-up calls</li>
                          </ul>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-panel>
                </ngb-accordion>
              </div>
            </div>
          </div>
          <div class="col-12 col-xxl-4 d-flex flex-column gap-20">
            <form class="col-12 p-20 rounded-sm my-20 form__container border bg-primary text-white">
              <h3 class="text-white">Book This Room For Your Stay</h3>
              <div class="d-flex flex-column gap-16 py-20 br-b-primary">
                <input type="text" placeholder="Name" class="border">
                <input type="text" placeholder="Email" class="border">
                <div class="d-flex gap-16 col-12">
                  <input type="number" placeholder="No. of People" class="w-50 border">
                  <input type="number" placeholder="Nights" class="w-50 border">
                </div>
              </div>
              <button class="btn-outline-white col-12 my-20">Book Now</button>
            </form>
            <div class="border p-20 rounded-sm col-12">
              <h3>Promotional</h3>
              <p>With only an additional $12 per night you can enjoy a view with a balcony</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="col-12 col-lg-10 d-flex flex-column flex-xl-row mx-auto px-20 px-md-48 gap-14 justify-content-center py-10">
    <div class="col-12 col-xl-8">
      <img src="../../../assets/images/double_bed_1.JPG" class="background rounded-sm" alt="room" width="100%" height="600px" data-aos="fade-in" data-aos-delay="100" data-aos-once="true">
    </div>
    <div class="col-12 col-xl-3 d-flex flex-row flex-xl-column justify-content-start gap-14 overflow-x-scroll sub__image-container rounded-sm">
      <img src="../../../assets/images/double_bed_2.JPG" class="sub-images rounded-sm" alt="room" width="100%" height="190px" data-aos="fade-in" data-aos-delay="150" data-aos-once="true">
      <img src="../../../assets/images/double_bed_2.JPG" class="sub-images rounded-sm" alt="room" width="100%" height="190px" data-aos="fade-in" data-aos-delay="200" data-aos-once="true">
      <img src="../../../assets/images/double_bed_2.JPG" class="sub-images rounded-sm" alt="room" width="100%" height="190px" data-aos="fade-in" data-aos-delay="150" data-aos-once="true">
    </div>
  </div>
  <div class="col-12 px-16 px-md-40 mt-20 mb-20 mb-lg-50 d-flex justify-content-between">
    <div class="col-12 col-lg-9 mx-auto">
      <div class="w-100 py-20 d-flex flex-column flex-md-row justify-content-between br-b-primary">
        <div>
          <h2 class="my-10 fw-bold">Twin Room</h2>
          <p>With generous feather duvets for the perfect night's sleep, the standard guest room is suited for all
            types of travellers, whether for business or leisure.</p>
          <div class="d-flex flex-wrap gap-14 align-items-center py-16">
            <p class="px-16 py-6 bg--grey rounded-xl text-primary" *ngFor="let category of categories">{{category}}</p>
          </div>
        </div>
        <div>
          <p class="fw-bold text--underline text-primary">10 Reviews</p>
          <p class="rating">(4.5)<ngb-rating [rate]="4"></ngb-rating></p>
        </div>
      </div>
      <div class="col-12 d-flex flex-column flex-xxl-row justify-content-between">
        <div class="col-12 col-xxl-8">
          <h2 class="my-10 fw-bold">Room Amenities</h2>
          <div class="col-12 col-lg-9 d-flex flex-column flex-sm-row flex-wrap gap-30 text-primary">
            <div class="col-10 col-sm-5 border py-30 px-28 py-xl-20 px-xl-16 d-flex gap-28 align-items-center justify-content-start rounded-sm">
              <fa-icon [icon]="faWifi" class="display-30"></fa-icon>
              <p class="display-16">Free Wifi service</p>
            </div>
            <div class="col-10 col-sm-5 border py-30 px-28 py-xl-20 px-xl-16 d-flex gap-28 align-items-center justify-content-start rounded-sm">
              <fa-icon [icon]="faToiletPortable" class="display-30"></fa-icon>
              <p class="display-16">Complimentary Toiletries</p>
            </div>
            <div class="col-10 col-sm-5 border py-30 px-28 py-xl-20 px-xl-16 d-flex gap-28 align-items-center justify-content-start rounded-sm">
              <fa-icon [icon]="faBowlFood" class="display-30"></fa-icon>
              <p class="display-16">Healthy Food</p>
            </div>
            <div class="col-10 col-sm-5 border py-30 px-28 py-xl-20 px-xl-16 d-flex gap-28 align-items-center justify-content-start rounded-sm">
              <fa-icon [icon]="faTv" class="display-30"></fa-icon>
              <p class="display-16">Free Television</p>
            </div>
          </div>
          <div class="py-20 col-12 col-lg-8">
            <div class="py-10">
              <ngb-accordion>
                <ngb-panel title="About The Room">
                  <ng-template ngbPanelContent>
                    <div class="p-20">
                      <div>
                        <h2>Food and Beverage Facilities:</h2>
                        <ul>
                          <li>Coffee/ tea making facilities</li>
                          <li>Kettle</li>
                          <li>In-room dining (fees apply)</li>
                          <li>Restaurant and Bar</li>
                        </ul>
                      </div>
                      <div>
                        <h2>Bathroom:</h2>
                        <ul>
                          <li>Hair Dryer</li>
                          <li>Shower Only</li>
                          <li>Bathroom Kit</li>
                          <li>Bath Robes available upon request</li>
                        </ul>
                      </div>
                      <div>
                        <h2>In-room facilities:</h2>
                        <ul>
                          <li>Work Desk with Lamp</li>
                          <li>Car Park</li>
                          <li>WI-Fi</li>
                          <li>Blackout curtain</li>
                          <li>Soundproof room</li>
                          <li>Wake-up calls</li>
                        </ul>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>
          </div>
        </div>
        <div class="col-12 col-xxl-4 d-flex flex-column gap-20">
          <form class="col-12 p-20 rounded-sm my-20 form__container border bg-primary text-white">
            <h3 class="text-white">Book This Room For Your Stay</h3>
            <div class="d-flex flex-column gap-16 py-20 br-b-primary">
              <input type="text" placeholder="Name" class="border">
              <input type="text" placeholder="Email" class="border">
              <div class="d-flex gap-16 col-12">
                <input type="number" placeholder="No. of People" class="w-50 border">
                <input type="number" placeholder="Nights" class="w-50 border">
              </div>
            </div>
            <button class="btn-outline-white col-12 my-20">Book Now</button>
          </form>
          <div class="border p-20 rounded-sm col-12">
            <h3>Promotional</h3>
            <p>With only an additional $12 per night you can enjoy a view with a balcony</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
