//@import "../../../assets/stylesheets/breakpoint.tsx";

ngb-rating {
  font-size: 24px;
  color: #FB8603 !important;
}

.background {
  @media screen and (max-width: 992px) {
    height: auto;
  }
  @media screen and (min-width: 992px) {
    height: calc(100vh - 300px);
  }
}

.sub__image-container {
  height: auto;
  @media screen and (min-width: 992px) {
    height: calc(100vh - 300px);
  }
}

.sub-images {
  height: 150px;
  @media screen and (min-width: 992px) {
    height: auto;
  }
}

.form__container {
  height: auto !important;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(66, 78, 63)
}
