<div class="hero__section w-100 mb-20 mb-md-48 box-shadow--primary position-relative">
  <div class="w-100 d-flex justify-content-between">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="corner-decor left-decor position-absolute">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="right-decor corner-decor position-absolute">
  </div>
  <div class="col-12 mx-auto py-40 py-md-74 text-center">
    <h1 class="title text-white">ROOMS</h1>
    <img src="../../../assets/images/decor_white.svg" alt="" class="col-6 col-md-5 col-lg-3 col-xxl-2">
  </div>
  <div class="w-100 d-flex justify-content-between p-10 p-md-20">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="low-left-decor corner-decor position-absolute">
    <img src="./assets/images/corner_decor_black.svg" alt="" class="low-right-decor corner-decor position-absolute">
  </div>
</div>
<div class="w-100 my-20 my-md-50">
  <app-rooms></app-rooms>
</div>
