<div class="w-100">
  <div class="col-12 col-lg-8 col-xl-9 col-xxl-8 mx-auto my-20 my-md-50 d-flex flex-column gap-84 px-16 px-md-40">
    <div class="w-100 d-flex flex-column flex-lg-row gap-30 justify-content-between align-items-center">
      <div class="col-12 col-md-9 col-lg-6">
        <h1 class="display-40 fw-semibold my-16 text-center text-lg-start" data-aos="slide-up" data-aos-delay="100" data-aos-once="true">Phobjikha (Bhutan)</h1>
        <p class="display-18 text-center text-lg-start fw-lighter" data-aos="slide-up" data-aos-delay="150" data-aos-once="true">
          A place worth visiting with astonishing valleys and mountains. Phobkikha, which falls under Wangduephodrang district,
          is a place where most of the people from here and outside the country wishes to visit. The rich culture that the place has
          to offer is one of the main reasons people visit. It is also the place where one of the rarest bird (Black Necked Crane) is found mostly
          during the fall.
        </p>
        <p class="pt-24 fw-lighter" data-aos="slide-up" data-aos-delay="200" data-aos-once="true">
          Visit us in order to know more about the place and its culture.
        </p>
      </div>
      <div class="col-12 col-md-9 col-lg-5 d-flex flex-column gap-16">
        <img src="../../../assets/images/dining.JPG" alt="" width="100%" class="rounded-sm" data-aos="slide-up" data-aos-delay="150" data-aos-once="true">
      </div>
    </div>
  </div>
</div>
<div class="w-100 about-us position-relative my-20 my-md-50">
  <div class="w-100 d-flex justify-content-between px-10 pt-10 px-md-20 pt-md-20">
    <img src="./assets/images/corner_decor.svg" alt="" class="corner-decor position-absolute">
    <img src="./assets/images/corner_decor.svg" alt="" class="right-decor corner-decor position-absolute">
  </div>
  <div class="col-12 col-sm-10 col-lg-11 mx-auto text-center text-lg-start text-white d-flex flex-column flex-lg-row justify-content-between align-items-center gap-30 px-20 px-md-40 py-60">
    <div class="col-12 col-lg-6">
      <h1 class="title text-white my-0 my-md-20" data-aos="slide-up" data-aos-delay="100" data-aos-once="true">About Us</h1>
      <div class="br-b-white col-7 col-lg-10 col-xxl-6 mx-auto mx-lg-0"></div>
      <div class="about py-4 py-md-20">
        <p class="display-18 fw-lighter" data-aos="slide-up" data-aos-delay="150" data-aos-once="true">
          We offer the travellers a space where they can rest peacefully and also get enlightened with beautiful culture that this place consists of.
          Phobjikha is known for its beautiful valleys and asthetic scenes where people come to cherish the moments with their loved ones. It is not only the scene that attracts
          the travellers, but, the knowledge they seek. The place has diverse culture and lifestyle which most the people from outside the country loves to know about.
          Yue Lo Ki is a hotel in Phobjikha where travellers can lay down and get enriched with knowledge that the local people has to offer.
        </p>
        <p class="pt-24 display-18 fw-lighter" data-aos="slide-up" data-aos-delay="200" data-aos-once="true">
          We provide services such as trekking and picnic along with foodings and all. Get your stay booked at our place!
        </p>
      </div>
      <button class="btn-outline-white mx-auto mt-10 mt-md-24" data-aos="slide-up" data-aos-delay="300" data-aos-once="true" routerLink="/about-us">Read More</button>
    </div>
    <div class="col-10 col-lg-5 d-none d-lg-block" data-aos="slide-up" data-aos-delay="200" data-aos-once="true">
      <img src="../../../assets/images/background__group.png" alt="" width="90%">
    </div>
  </div>
  <div class="w-100 d-flex justify-content-between px-10 pb-10 px-md-20 pb-md-20">
    <img src="./assets/images/corner_decor.svg" alt="" class="low-left-decor corner-decor position-absolute">
    <img src="./assets/images/corner_decor.svg" alt="" class="low-right-decor corner-decor position-absolute">
  </div>
</div>
