<div class="w-100 about-us">
  <div class="col-12 col-lg-11 mx-auto text-white d-flex flex-column flex-lg-row justify-content-between align-items-center gap-30 px-16 px-md-40 py-30 py-md-84">
    <div class="col-12 col-lg-5">
      <h1 class="title br-b-white text-white my-20" data-aos="slide-up" data-aos-delay="100" data-aos-once="true">About Us</h1>
      <div class="about py-4 py-md-20 fw-light">
        <p data-aos="slide-up" data-aos-delay="200" data-aos-once="true">The Best Of the best Room for your comfort The Best Of the best Room for your
          comfort The Best Of the best Room for your comfort The Best Of the best Room for your comfort
        </p>
        <p class="pt-24" data-aos="slide-up" data-aos-delay="250" data-aos-once="true">
          The Best Of the best Room for your comfort The Best Of the best Room for your comfort The Best
        </p>
      </div>
      <button class="btn-outline-white rounded-0 py-14 px-40 mt-10 mt-md-40" data-aos="slide-up" data-aos-delay="500" data-aos-once="true">Read More</button>
    </div>
    <div class="col-10 col-lg-5 d-none d-lg-block" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
      <img src="../../../assets/images/background__group.png" alt="" width="80%">
    </div>
  </div>
</div>
