<div class="w-100">
  <div class="col-12 col-lg-10 mx-auto my-20 my-md-50 d-flex flex-column px-20 px-lg-40">
    <h1 class="title my-16 text-center col-12 col-md-10 mx-auto" data-aos="slide-up" data-aos-delay="100" data-aos-once="true">KUZUZANGPO LA
      WELCOME TO HOTEL YUE LO KI</h1>
    <div class="w-100 py-20 py-md-40 d-flex flex-column flex-lg-row gap-30 justify-content-between align-items-center">
      <div class="col-12 col-md-10 col-lg-6">
        <p class="display-16 fw-lighter text-center text-lg-start" data-aos="slide-up" data-aos-delay="150" data-aos-once="true">
          Thank you for choosing to stay in our Hotel and allowing us to show our culture of authentic
          and seamless Bhutanese service. Hotel Yue Lo Ki is located only a few minutes from the
          incredible Phobjikha valley. The panoramic viewed valley is home to magnificent black-
          necked cranes and astonishing flora and fauna. The valley also has a lot of beautiful nature
          trails to hike and trek. The valley has numerous religious and cultural sites of immense
          significance to the people of Bhutan. A truly unique experience of wellness, spirituality, and
          nature in one place.
        </p>
        <p class="pt-24 display-16 fw-lighter text-center text-lg-start" data-aos="slide-up" data-aos-delay="200" data-aos-once="true">
          We have 16 rooms which consist of 11 twin beds and four king-size beds. All the rooms
          have rich and elegant wooden panels that provide excellent acoustics insulation, great for
          the cold Phobjikha valley. The walls of windows in the rooms offer a fantastic panoramic
          view of the valley and a centralized water heating system for a relaxing shower after your
          adventures.
        </p>
      </div>
      <div class="col-12 col-md-9 col-lg-4">
        <img src="../../../assets/images/background__group.png" alt="yueloki" class="col-12 col-md-11" width="100%" data-aos="slide-up" data-aos-delay="150" data-aos-once="true">
      </div>
    </div>
  </div>
</div>
