<div class="w-100 my-20 my-md-50">
  <div class="text-center w-100">
    <h1 class="title">Our Experiences</h1>
    <img src="../../../assets/images/decor.svg" alt="" class="col-9 col-md-7 col-lg-3 col-xxl-2">
  </div>
  <div class="w-100 px-20">
    <div class="col-12 col-lg-10 d-flex flex-column gap-40 py-20 px-20 px-md-40 mx-auto text-center text-lg-start">
      <div class="w-100 d-flex flex-column flex-lg-row justify-content-between align-items-center">
        <div class="col-12 col-md-9 col-lg-6 mb-10">
          <h1 class="display-40 fw-semibold my-16">Picnic and hoisting prayer flags</h1>
          <p class="display-18 fw-lighter">
            Experience one of the most relaxing and enjoyable picnic spots of Phobjikha valley. Take a mini
            hike down the valley to Damchen Lhakhang, a 14th-century monastery, and immerse in the
            lifestyles of local monks. After that, walk towards the local prayer flags hoisting hill and unfold
            delicious packed lunch at an elevation of 3800 meters accompanied by scenic views of the valley
            and, if in luck, the sight of the majestic Black-necked-Cranes.
          </p>
          <p class="display-18 mt-24 fw-lighter">
            Prayer flags are beautiful colours of scripted texts and an essential part of the Bhutanese
            tradition. After Lunch, Prayer flags will be hoisted to share and disseminate prosperity and luck
            to all sentient beings.
          </p>
        </div>
        <img src="../../../assets/images/prayers.png" alt="" class="col-12 col-md-9 col-lg-5">
      </div>
      <div class="w-100 d-flex flex-column-reverse flex-lg-row justify-content-between align-items-center">
        <img src="../../../assets/images/nature.png" alt="" class="col-12 col-md-9 col-lg-6">
        <div class="col-12 col-md-9 col-lg-5 mb-10">
          <h1 class="display-40 fw-semibold my-16">Nature trek</h1>
          <p class="display-18 fw-lighter">
            Phobjikha valley has plenty of treks depending on your fitness level. These hiking trails are
            very ancient and used by ancestors to travel between villages before the advent of the road.
            Hikers can indulge their senses with the luscious meadows, crystal clear streams, beautiful
            flora, and magnificent birds. The hiking trails will let you experience the authentic traditional
            Bhutanese way of living and unique architecture.
          </p>
        </div>
      </div>
      <div class="w-100 d-flex flex-column flex-lg-row justify-content-between align-items-center">
        <div class="col-12 col-md-9 col-lg-6 mb-10">
          <h1 class="display-40 fw-semibold my-16">Mountain Biking</h1>
          <p class="display-18 fw-lighter">
            Phobjikha valley is the perfect place to mountain bike, with less car traffic and naturally
            paved trails that intercepts beautiful villages, monasteries, and the most beautiful
            landscapes. Our friendly team at the reception can help you book a mountain bike and a
            guide if required.
          </p>
        </div>
        <img src="../../../assets/images/biking.png" alt="" class="col-12 col-md-9 col-lg-5">
      </div>
      <div class="w-100 d-flex flex-column-reverse flex-lg-row justify-content-between align-items-center">
        <img src="../../../assets/images/gangtey.png" alt="" class="col-12 col-md-9 col-lg-6">
        <div class="col-12 col-md-9 col-lg-5 mb-10">
          <h1 class="display-40 fw-semibold my-16">Gangtey monastery and evening prayers</h1>
          <p class="display-18 fw-lighter">
            The Gangteng Monastery, also called the Gangteng Sangngak Chöling, was established by
            Gangteng Truelku Pema Thinley following Pema Lingpa's prophecies. Pema Lingpa is the
            most revered and celebrated saint of Bhutanese origin. Hence, the Monastery is one of
            Bhutan's most important Buddhist establishments and a proud jewel of all the community
            members. It is a symbol of peace, Prosperity, and hope. When the black-necked cranes
            arrive in Gangtey, they circle above Gangtey Monastery three times before landing on the
            marsh. They will also repeat the ritual before they depart from Bhutan to Tibet. The
            architecture and engineering highlight the uniqueness and elegance of traditional
            Bhutanese architecture, and we recommend experiencing the monastic lifestyle of monks
            and join the prayer for the most surreal spiritual evening.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
