<div class="w-100 px-16 px-md-40">
  <div class="col-12 col-sm-8 col-lg-8 py-20 mx-auto d-flex flex-column flex-xl-row justify-content-center align-items-center gap-30">
    <div class="position-relative rounded-sm background-picnic px-20 d-flex flex-column align-items-center" data-aos="slide-up" data-aos-delay="100" data-aos-once="true">
      <h3 class="text-white text-center mt-84">Picnic</h3>
      <button class="btn-outline-white col-11 position-absolute bottom-0 mb-20">Read more</button>
    </div>
    <div class="position-relative rounded-sm background-trek px-20 d-flex flex-column align-items-center" data-aos="slide-up" data-aos-delay="200" data-aos-once="true">
      <h3 class="text-white text-center mt-84">Trekking</h3>
      <button class="btn-outline-white col-11 position-absolute bottom-0 mb-20">Read more</button>
    </div>
    <div class="position-relative rounded-sm background-prayers px-20 d-flex flex-column align-items-center" data-aos="slide-up" data-aos-delay="300" data-aos-once="true">
      <h3 class="text-white text-center mt-84">Morning and Evening prayers</h3>
      <button class="btn-outline-white col-11 position-absolute bottom-0 mb-20">Read more</button>
    </div>
  </div>
</div>
