<div class="w-100 px-16 px-md-40">
  <div class="col-12 col-lg-10 my-20 my-md-40 mx-auto text-center">
    <h1 class="title" data-aos="slide-up" data-aos-delay="200">Our Events</h1>
    <img src="../../../assets/images/decor.svg" alt="" class="col-9 col-md-7 col-lg-3 col-xxl-2" data-aos="slide-up" data-aos-delay="250">
  </div>
  <div class="col-12 col-sm-8 col-lg-8 py-20 mx-auto d-flex flex-column flex-xl-row justify-content-center align-items-center gap-60">
    <div data-aos="slide-up" data-aos-delay="310">
      <img src="../../../assets/images/black_necked_crane%20.jpg" class="background__image" alt="" width="100%">
      <div class="p-16">
        <h3 class="mb-14 display-28 fw-bold">Black Necked Crane Festival</h3>
        <p class="text--black-60 mb-16">December 23, 2022</p>
        <button class="btn-outline-primary py-14 px-40 rounded">LEARN MORE</button>
      </div>
    </div>
    <div data-aos="slide-up" data-aos-delay="320">
      <img src="../../../assets/images/black_necked_crane%20.jpg" class="background__image" alt="" width="100%">
      <div class="p-16">
        <h3 class="mb-14 display-28 fw-bold">Black Necked Crane Festival</h3>
        <p class="text--black-60 mb-16">December 23, 2022</p>
        <button class="btn-outline-primary py-14 px-40 rounded">LEARN MORE</button>
      </div>
    </div>
    <div data-aos="slide-up" data-aos-delay="330">
      <img src="../../../assets/images/black_necked_crane%20.jpg" class="background__image" alt="" width="100%">
      <div class="p-16">
        <h3 class="mb-14 display-28 fw-bold">Black Necked Crane Festival</h3>
        <p class="text--black-60 mb-16">December 23, 2022</p>
        <button class="btn-outline-primary py-14 px-40 rounded">LEARN MORE</button>
      </div>
    </div>
  </div>

</div>
