<div class="w-100 px-16 px-md-40">
  <div class="col-12 col-sm-8 col-lg-8 pb-20 mx-auto d-flex flex-column flex-xl-row justify-content-center align-items-center gap-30">
    <div class="rounded-sm" data-aos="zoom-up" data-aos-delay="400" data-aos-once="true">
      <div class="py-20">
        <h3 class="mb-14 display-28 fw-bold">Black Necked Crane Festival</h3>
        <p class="text--black-60 mb-16">December 23, 2022</p>
      </div>
      <img src="../../../assets/images/black_necked_crane%20.jpg" class="background__image rounded-sm" alt="" width="100%">
      <div class="pt-20">
        <button class="btn-outline-primary w-100">Read more</button>
      </div>
    </div>
    <div class="rounded-sm" data-aos="zoom-up" data-aos-delay="400" data-aos-once="true">
      <div class="py-20">
        <h3 class="mb-14 display-28 fw-bold">Black Necked Crane Festival</h3>
        <p class="text--black-60 mb-16">December 23, 2022</p>
      </div>
      <img src="../../../assets/images/black_necked_crane%20.jpg" class="background__image rounded-sm" alt="" width="100%">
      <div class="pt-20">
        <button class="btn-outline-primary w-100">Read more</button>
      </div>
    </div>
    <div class="rounded-sm" data-aos="zoom-up" data-aos-delay="500" data-aos-once="true">
      <div class="py-20">
        <h3 class="mb-14 display-28 fw-bold">Black Necked Crane Festival</h3>
        <p class="text--black-60 mb-16">December 23, 2022</p>
      </div>
      <img src="../../../assets/images/black_necked_crane%20.jpg" class="background__image rounded-sm" alt="" width="100%">
      <div class="pt-20">
        <button class="btn-outline-primary w-100">Read more</button>
      </div>
    </div>
  </div>
</div>
