<div class="w-100 px-20">
  <div class="col-12 col-md-8 pb-20 mx-auto d-flex flex-column flex-md-row justify-content-center align-items-center gap-30">
    <div class="rounded-sm col-12 col-sm-10 col-md-6 col-lg-4" data-aos="slide-up" data-aos-delay="100" data-aos-once="true">
      <div class="py-20">
        <h3 class="display-24 fw-normal text--black-60">Black Necked Crane Festival</h3>
      </div>
      <img src="https://asmpa.selise.cloud/1671194762_9e2cf8c89de570332fe605d6f8f40f_black_necked_crane.jpeg" class="background__image col-12" alt="" width="100%">
      <div class="pt-20">
        <button class="btn-outline-primary w-100 d-flex gap-16 align-content-center justify-content-center" routerLink="/black-necked-crane-festival">
          Read more
          <fa-icon [icon]="faArrowRightLong"></fa-icon>
        </button>
      </div>
    </div>
    <div class="rounded-sm col-12 col-sm-10 col-md-6 col-lg-4" data-aos="slide-up" data-aos-delay="200" data-aos-once="true">
      <div class="py-20">
        <h3 class="display-24 fw-normal text--black-60">Annual Gangtey Tshechu</h3>
      </div>
      <img src="https://asmpa.selise.cloud/1671194789_650f16f16275464e1b08edb1a44078_gangtey_tshechu.jpeg" class="background__image col-12" alt="" width="100%">
      <div class="pt-20">
        <button class="btn-outline-primary w-100 d-flex gap-16 align-content-center justify-content-center" routerLink="/gangtey-tshechu">
          Read more
          <fa-icon [icon]="faArrowRightLong"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
