<div class="w-100 d-flex flex-column align-items-center px-16 px-md-48">
  <div class="col-12 col-lg-10 mx-auto d-flex flex-column flex-xl-row justify-content-center align-items-center gap-30">
    <div class="cards border p-24 rounded-sm">
      <img src="../../../assets/images/room__sample.png" alt="" class="w-100 background__image">
      <div class="d-flex justify-content-between align-items-center w-100 py-20">
        <h3>Deluxe</h3>
        <p class="text--black-60">$300/Person</p>
      </div>
      <div class="d-flex flex-wrap justify-content-between align-items-center w-100 text--black-60 pb-20 text-nowrap">
        <div class="d-flex">
          <p class="pe-10">3 Rooms</p>
          <p class="pe-10">2 Bathrooms</p>
        </div>
        <p class="">1200 SQ.FT</p>
      </div>
      <button class="btn-outline-black rounded py-14 w-100">Details</button>
    </div>
    <div class="cards border p-24 rounded-sm">
      <img src="../../../assets/images/room__sample.png" alt="" class="w-100 background__image">
      <div class="d-flex justify-content-between align-items-center w-100 py-20">
        <h3>Deluxe</h3>
        <p class="text--black-60">$300/Person</p>
      </div>
      <div class="d-flex flex-wrap justify-content-between align-items-center w-100 text--black-60 pb-20 text-nowrap">
        <div class="d-flex">
          <p class="pe-10">3 Rooms</p>
          <p class="pe-10">2 Bathrooms</p>
        </div>
        <p>1200 SQ.FT</p>
      </div>
      <button class="btn-outline-black rounded py-14 w-100">Details</button>
    </div>
    <div class="cards border p-24 rounded-sm">
      <img src="../../../assets/images/room__sample.png" alt="" class="w-100 background__image">
      <div class="d-flex justify-content-between align-items-center w-100 py-20">
        <h3>Deluxe</h3>
        <p class="text--black-60">$300/Person</p>
      </div>
      <div class="d-flex flex-wrap justify-content-between align-items-center w-100 text--black-60 pb-20 text-nowrap">
        <div class="d-flex">
          <p class="pe-10">3 Rooms</p>
          <p class="pe-10">2 Bathrooms</p>
        </div>
        <p>1200 SQ.FT</p>
      </div>
      <button class="btn-outline-black rounded py-14 w-100">Details</button>
    </div>
  </div>
  <a class="my-30 display-40 cursor--pointer">See More</a>
</div>
