<div class="w-100 d-flex flex-column align-items-center px-16 px-md-48">
  <div class="col-12 col-lg-10 mx-auto d-flex flex-column flex-xl-row justify-content-center align-items-center gap-30">
    <div class="cards border pb-20">
      <img src="https://asmpa.selise.cloud/1671194876_bd71f01a8bd11dfc70a5d4e5686baf_bed_room_1.jpeg" alt="king room" width="100%" class="w-100 background__image rounded-top-sm">
      <div class="d-flex justify-content-between align-items-center w-100 p-20">
        <h3>King Size/Double Room</h3>
      </div>
      <div class="d-flex flex-wrap justify-content-between align-items-center w-100 text--black-60 pb-20 text-nowrap px-20">
        <div class="d-flex">
          <p class="pe-10">1 Room</p>
          <p class="pe-10">1 Bathroom</p>
        </div>
      </div>
      <div class="w-100 px-20">
        <button class="btn-outline-primary w-100" routerLink="/king-size-room">Details</button>
      </div>
    </div>
    <div class="cards border pb-20">
      <img src="https://asmpa.selise.cloud/1671194208_79351f07aae266fa9b35cd601ff613_double_bed_4.jpeg" alt="twin room" width="100%" class="w-100 background__image rounded-top-sm">
      <div class="d-flex justify-content-between align-items-center w-100 p-20">
        <h3>Twin Room</h3>
      </div>
      <div class="d-flex flex-wrap justify-content-between align-items-center w-100 text--black-60 pb-20 text-nowrap px-20">
        <div class="d-flex">
          <p class="pe-10">1 Room</p>
          <p class="pe-10">1 Bathroom</p>
        </div>
      </div>
      <div class="w-100 px-20">
        <button class="btn-outline-primary w-100" routerLink="/twin-room">Details</button>
      </div>
    </div>
  </div>
</div>
