@import "./assets/stylesheets/styles.scss";

html, body {
    font-family: 'Poppins' !important;
    font-size: 16px;
    font-weight: 400 !important;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
