@import "./assets/stylesheets/styles.scss";

html, body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
    font-weight: 400 !important;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: $secondary !important;
}

h1, h2, h3 {
  font-family: sans-serif !important;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
