<div class="w-100 py-20 py-lg-40 home">
  <div class="col-12 col-lg-8 mx-auto">
    <div class="w-100 header text-center d-flex flex-column align-items-center">
      <h1 class="br-b-primary py-20 header__title">Welcome To <span class="fw-bolder">Yue Loki</span></h1>
      <div class="w-100 d-flex justify-content-center">
        <h2 class="px-20 sub-header bg-secondary">We are the wonder of your holiday</h2>
      </div>
    </div>
    <div class="w-100 d-flex justify-content-between my-40 px-16 px-md-48 image--container">
      <img src="../../assets/images/room__1.png" alt="" width="30%" class="align-self-center align-self-md-start">
      <img src="../../assets/images/room__2.png" alt="" width="30%" class="align-self-center align-self-md-center">
      <img src="../../assets/images/room__1.png" alt="" width="30%" class="align-self-center align-self-md-end">
    </div>
  </div>
  <div class="w-100 my-20 my-md-40">
    <div class="text-center w-100">
      <h1 class="title fw-bold">Our Rooms</h1>
      <img src="../../assets/images/decor.svg" alt="" class="col-9 col-md-7 col-lg-3 col-xxl-2">
    </div>
    <app-rooms></app-rooms>
  </div>
</div>
