.offcanvas_contact {
  width: 100%;
  min-height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
}

.contact {
  position: fixed;
  border-radius: 0;
  top: 0 !important;
  width: 100%;
  height: auto;
  overflow-y: scroll;
  z-index: 9999;
  @media (min-width: 576px) {
    width: 500px;
    //height: calc(100vh - 50px);
    border-radius: 10px;
    top: 30px !important;
  }
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
