//overwriting bootstrap colors
$primary: #565F51;
$secondary: #F2F0EC;
$success: #1C1F19;
$danger: #D8433A;
$warning: #F1B22A;
$dark: #1C1F19;
$info: #5AA3ED;
$purple: #8330A4;
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$grey: #CBCCC5;


//custom margin and padding
$spacer: 16px !default;
$spacers: (
        0: 0,
        2: 2px,
        4: 4px,
        6: 6px,
        8: 8px,
        10: 10px,
        12: 12px,
        14: 14px,
        16: 16px,
        18: 18px,
        20: 20px,
        22: 22px,
        24: 24px,
        26: 26px,
        28: 28px,
        30: 30px,
        32: 32px,
        34: 34px,
        36: 36px,
        38: 38px,
        40: 40px,
        42: 42px,
        44: 44px,
        46: 46px,
        48: 48px,
        50: 50px,
        52: 52px,
        54: 54px,
        56: 56px,
        60: 60px,
        64: 64px,
        68: 68px,
        74: 74px,
        84: 84px,
        100: 100px
);

//custom font-sizes
$display-font-sizes: (
        6: 6px,
        8: 8px,
        10: 10px,
        12: 12px,
        14: 14px,
        16: 16px,
        18: 18px,
        20: 20px,
        22: 22px,
        24: 24px,
        26: 26px,
        28: 28px,
        30: 30px,
        34: 34px,
        38: 38px,
        40: 40px,
        50: 50px,
        70: 70px,
        100: 100px
);

$headings-line-height: 1.5 !default;
$display-font-weight: 300 !default;
$display-line-height: $headings-line-height !default;
$headings-color: $primary !default;

$border-color: $grey !default;

//custom font-weight
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 800;

$font-size-base: 16px !default;

//changing units to px
$nav-link-padding-y: 8px !default;
$nav-link-padding-x: 6px !default;

$font-size-base: 1px !default;

//custom font-size for h-tag
$h1-font-size: 30px !default;
$h2-font-size: 28px !default;
$h3-font-size: 22px !default;
$h4-font-size: 18px !default;

//overwriting border-radius unit
$border-radius: 4px !default;
$modal-footer-margin-between: 8px;

//customizing default modal size
$modal-xs: 100%;
$modal-sm: 300px !default;
$modal-md: 580px !default;
$modal-lg: 650px !default;
$modal-xl: 1140px !default;

$position-values: (
        0: 0,
        24: 24px,
);
$paragraph-margin-bottom: 0;
$headings-margin-bottom: 0 !default;
$btn-white-space: nowrap !default;

// scss-docs-start border-variables
$border-width: 1px !default;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
) !default;

$border-style: solid !default;
$border-color: $primary !default;
$border-color-translucent: rgba($primary, .175) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1800px,
  xxxxl: 2000px
) !default;

:root {
  --primary: rgb(66, 78, 63);
  --secondary: #F2F0EC;
  --success: #638A3F;
  --danger: #D8433A;
  --warning: #F1B22A;
  --dark: #1C1F19;
  --info: #5AA3ED;
  --violet: #9CA5D6;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --grey: #CBCCC5;
}
