.title {
  font-size: 36px;
  @media (min-width: 576px) {
    font-size: 50px;
  }
  @media (min-width: 992px) {
    font-size: 70px;
  }
}

.background__image {
  transition: 0.2s ease-in;
  &:hover {
    opacity: 0.9;
  }
}

.right-decor {
  transform: rotate(90deg);
}

.low-left-decor {
  transform: rotate(-90deg);
}

.low-right-decor {
  transform: rotate(180deg);
}

.corner-decor {
  width: 50px;
  @media (min-width: 576px) {
    width: 100px;
  }
  @media (min-width: 992px) {
    width: 120px;
  }
}
