.accordion-button:not(.collapsed) {
  font-size: 28px !important;
  font-weight: 500 !important;
  color: $primary !important;
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-button {
  font-size: 28px !important;
  font-weight: 500 !important;
  color: $primary !important;
  padding: 0 !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion {
  --bs-accordion-border-width: 0 !important;
  --bs-accordion-bg: transparent !important;
  &-body {
    padding: 10px 0 !important;
  }
}
