.accordion {
  --bs-accordion-border-width: 0 !important;
  --bs-accordion-bg: transparent !important;
  &-body {
    padding: 10px 0 !important;
  }
  &-button {
    position: static !important;
    font-size: 24px !important;
    font-weight: 500 !important;
    color: $primary !important;
    padding: 0 0 16px !important;
    z-index: 1 !important;
    &:focus {
      z-index: 1 !important;
      box-shadow: none !important;
    }
    &:not(.collapsed) {
      font-size: 24px !important;
      font-weight: 500 !important;
      color: $black !important;
      border-color: transparent !important;
      background-color: transparent !important;
      box-shadow: none !important;
    }
  }
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom: 1px solid $primary !important;
}

.navbar {
  width: 100% !important;
  background-color: $white !important;
  z-index: 100 !important;
  @media (min-width: 992px) {
    margin: 0 auto !important;
    width: 90% !important;
  }
  @media (min-width: 1200px) {
    margin: 0 auto !important;
    width: 85% !important;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: space-between !important;
    transition: 0.3s ease-in-out !important;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    justify-content: end !important;
  }
}

.nav-link {
  color: rgba($black, 0.8) !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  @media (min-width: 992px) {
    font-size: 20px !important;
  }
  &:hover {
    opacity: 0.7 !important;
  }
}

.navbar-toggler {
  padding: 0 10px !important;
  border-radius: 0 !important;
  border: none !important;
  color: $primary !important;
  &:focus {
    color: $primary !important;
    text-decoration: none;
    outline: 0;
    --bs-navbar-toggler-focus-width: 0;
    box-shadow: 0 $primary !important;
  }
}

.nav-item {
  padding: 0;
  @media (min-width: 992px) {
    padding: 0 10px;
  }
}

.carousel {
  z-index: 1 !important;
  &-control-next {
    width: auto !important;
    justify-content: end !important;
    margin-right: 0 !important;
    @media (min-width: 992px) {
      margin-right: 80px !important;
    }
  }
  &-control-prev {
    width: auto !important;
    justify-content: start !important;
    margin-left: 0 !important;
    @media (min-width: 992px) {
      margin-left: 80px !important;
    }
  }
  &-control-next, &-control-prev {
    display: none !important;
    @media (min-width: 576px) {
      display: block !important;
    }
  }
  &-inner {
    width: 100% !important;
    margin: 0 auto !important;
    background-color: $primary !important;
    z-index: 1 !important;
    @media (min-width: 576px) {
      width: 85% !important;
    }
    @media (min-width: 992px) {
      width: 56% !important;
    }
  }
}

.carousel-indicators [data-bs-target] {
  background-color: $primary !important;
  padding: 2px 10px !important;
}
