@import "../../../assets/stylesheets/variables";

.gangtey-tshechu {
  background: url("../../../assets/images/gangtey_tshechu_bg.jpg"), rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba($black, 0.8);
}
