@import "../../../assets/stylesheets/variables";

.gangtey-tshechu {
  background: url("https://asmpa.selise.cloud/1671194911_512c06c4b6a05dd8b3c0ba0295115e_gangtey_tshechu_bg.jpeg");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba($black, 0.5);
}
