<div class="gangtey-tshechu py-30 py-md-84 radius--b-30">
  <h1 class="text-white header__title text-center">Gangtey Tshechu</h1>
</div>
<div class="w-100 p-20">
  <div class="mx-auto col-12 col-lg-8 my-20 my-md-50">
    <p>Tshechu is a religious festival of mask dances performed by monks and laymen in tribute to
      Guru Rinpoche. The lotus-born master is the most prominent figure in Tibetan Buddhism.
      Guru Rinpoche is said to have brought the first teachings of Buddhism to the country and
      fundamentally changed the way Bhutanese people lived.</p>
    <p class="my-20">The Gangtey Monastery, also called the Gangtey Sangngak Chöling, was established by
      Gangtey Truelku Pema Thinley following Pema Lingpa’s prophecies. Pema Lingpa is the
      most revered and celebrated saint of Bhutanese origin. It is said that all the choreographic
      instructions for the mask dances were imparted to Pema Lingpa in his meditative states by
      Guru Rinpoche. These treasure mask dances are neither of mere origin nor of ordinary
      meaning. It is a wondrous transmission of teachings through expressions of our body, mind,
      and speech. The mask dances are believed to cleanse the sins and bring the viewers
      prosperity, peace, and joy. These sacred dances are performed in the courtyards of Gangtey
      Goenpa monastery for three consecutive days.</p>
    <p class="my-20">Gangtey Tshechu is a great time of celebration and gathering for the people residing in the
      nearby villages. Villagers and people from all works of life gather in fully adorned jewels,
      hand-woven dresses, and the brightest smiles. Families and friends gather to share the most
      delicious and incredible of foods and, most importantly, each other’s company. People pray
      and wish for all their loved ones to gather as same in the following years Tshechu in good
      health and wealth.</p>
  </div>
  <div class="d-flex flex-column flex-md-row gap-10 flex-wrap justify-content-center my-20 my-md-50">
    <img src="./assets/images/gt1.jpg" alt="" class="col-12 col-md-5 col-lg-3 rounded-sm border-primary background__image">
    <img src="./assets/images/gt2.jpg" alt="" class="col-12 col-md-5 col-lg-3 rounded-sm border-primary background__image">
    <img src="./assets/images/gt3.jpg" alt="" class="col-12 col-md-5 col-lg-3 rounded-sm border-primary background__image">
    <img src="./assets/images/gt4.jpg" alt="" class="col-12 col-md-5 col-lg-3 rounded-sm border-primary background__image">
    <img src="./assets/images/gt5.jpg" alt="" class="col-12 col-md-5 col-lg-3 rounded-sm border-primary background__image">
    <img src="./assets/images/gt6.jpg" alt="" class="col-12 col-md-5 col-lg-3 rounded-sm border-primary background__image">
  </div>
</div>
